<footer id="footer" class="footer dark-background">

  <div class="container footer-top">
    <div class="row gy-4">
      <div class="col-lg-2 col-md-6 footer-links">
        <h4>Useful Links</h4>
        <ul>
          <li><a href="{{ "/" | relURL }}">Home</a></li>
          <li><a href="{{ "/about/" | relURL }}">About Us</a></li>
          <li><a href="{{ "/services/" | relURL }}">Services</a></li>
          <li><a href="/assets/docs/TOT.pdf" target="_blank">Terms of trade</a></li>
          <li><a href="{{ "/privacy-policy" | relURL }}">Privacy Policy</a></li>
        </ul>
        <div class="social-links d-flex mt-4">
          <a target="_blank" href="https://www.linkedin.com/company/shugg-windows-nz/"><i
              class="bi bi-linkedin"></i></a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 logo text-center">
        <img src="{{ "assets/img/100-nz.png" | relURL }}" alt="">
      </div>

      <div class="col-lg-4 col-md-6 footer-about">
        <div class="d-flex align-items-start">
          <a href="{{ "/" | relURL }}" class="logo me-3">
            <img src="{{ "assets/img/shugg-favi.jpg" | relURL }}" alt="">
          </a>
          <div class="footer-contact">
            <p class="mb-1">Neotechnical Industries Limited</p>
            <p class="mb-1">9 McDonald Street, Morningside</p>
            <p class="mb-1">Auckland, 1025</p>
            <p class="mt-2 mb-1"><strong>Phone:</strong> <span>+64 9 3799 368</span></p>
            <p class="mb-0"><strong>Email:</strong> <span>info@shugg.co.nz</span></p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="map-container" style="height: 200px; width: 100%;">
          <iframe src="https://www.google.com/maps/embed?..."></iframe>
        </div>
      </div>
    </div>

  </div>

  <div class="container copyright text-center mt-4">
    © <span>Copyright</span> <strong class="px-1 sitename">Shugg.co.nz</strong> <span>All Rights Reserved</span> |
    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
  </div>

</footer>