<footer id="footer" class="footer dark-background">

  <div class="container footer-top">
    <div class="row gy-4">
      <div class="col-lg-2 col-md-6 footer-links">
        <h4>Useful Links</h4>
        <ul>
          <li><a href="{{ "/" | relURL }}">Home</a></li>
          <li><a href="{{ "/about/" | relURL }}">About Us</a></li>
          <li><a href="{{ "/services/" | relURL }}">Services</a></li>
          <li><a href="/assets/docs/TOT.pdf" target="_blank">Terms of trade</a></li>
          <li><a href="{{ "/privacy-policy" | relURL }}">Privacy Policy</a></li>
        </ul>
        <div class="social-links d-flex mt-4">
          <a target="_blank" href="https://www.linkedin.com/company/shugg-windows-nz/"><i
              class="bi bi-linkedin"></i></a>
        </div>
      </div>

      <div class="col-lg-2 col-md-6 logo text-center">
        <img src="{{ "assets/img/100-nz.png" | relURL }}" alt="" class="img-fluid mb-3">
        <img src="{{ "assets/img/100-nz-manufacturing-designed.png" | relURL }}" alt="">
      </div>

      <div class="col-lg-4 col-md-6 footer-about">
        <div class="d-flex align-items-start">
          <a href="{{ "/" | relURL }}" class="logo me-3">
            <img src="{{ "assets/img/shugg-favi.jpg" | relURL }}" alt="">
          </a>
          <div class="footer-contact">
            <p class="mb-1">Neotechnical Industries Limited</p>
            <p class="mb-1">9 McDonald Street, Morningside</p>
            <p class="mb-1">Auckland, 1025</p>
            <p class="mt-2 mb-1"><strong>Phone:</strong> <span>+64 9 3799 368</span></p>
            <p class="mb-0"><strong>Email:</strong> <span>info@shugg.co.nz</span></p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="map-container" style="height: 300px; width: 100%;">
          <iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=300&amp;hl=en&amp;q=Neotechnical%20Industries+(Neotechnical%20Industries)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
          <!-- <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3155.274410404052!2d174.72878131521124!3d-36.86993597993807!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d0d49f53f53e4cd%3A0x123456789abcdef!2s9%20McDonald%20St%2C%20Morningside%2C%20Auckland%201025%2C%20New%20Zealand!5e0!3m2!1sen!2snz!4v1681234567890"
            width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
          </iframe> -->
        </div>
      </div>
    </div>

  </div>

  <div class="container copyright text-center mt-4">
    © <span>Copyright</span> <strong class="px-1 sitename">Shugg.co.nz</strong> <span>All Rights Reserved</span> |
    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
  </div>

</footer>