{{ define "main" }}
    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <div class="carousel-item active">
          <img src="assets/img/hero-carousel/1.jpg" alt="">
          <div class="carousel-container">
            <h2>Vertical Sliding Windows<br></h2>
            {{ partial "get-quote-button.html" . }}
          </div>
        </div><!-- End Carousel Item -->

        <div class="carousel-item">
          <img src="assets/img/hero-carousel/3.jpg" alt="">
          <div class="carousel-container">
            <h2>Architectural</h2>
            <h2>Sashless</h2>
            <h2>Minimalist</h2>
            {{ partial "get-quote-button.html" . }}
          </div>
        </div><!-- End Carousel Item -->

        <div class="carousel-item">
          <img src="assets/img/hero-carousel/2.jpg" alt="">
          <div class="carousel-container">
            <h2>Commercial & Residential</h2>
            {{ partial "get-quote-button.html" . }}
          </div>
        </div><!-- End Carousel Item -->

        <div class="carousel-item">
          <img src="assets/img/hero-carousel/4.jpg" alt="">
          <div class="carousel-container">
            <h2>Motorised Windows</h2>
            {{ partial "get-quote-button.html" . }}
          </div>
        </div><!-- End Carousel Item -->

        <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

        <ol class="carousel-indicators"></ol>

      </div>

    </section><!-- /Hero Section -->

    
<!-- Stats Section -->
<section id="stats" class="stats section light-background">

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row gy-4">

      <div class="col-lg-4 col-md-6">
        <div class="stats-item text-center w-100 h-100">
          <span data-purecounter-start="0" data-purecounter-end="2605" data-purecounter-duration="1"
            class="purecounter"></span>
          <p>Clients</p>
        </div>
      </div><!-- End Stats Item -->

      <div class="col-lg-4 col-md-6">
        <div class="stats-item text-center w-100 h-100">
          <span data-purecounter-start="0" data-purecounter-end="8639" data-purecounter-duration="1"
            class="purecounter"></span>
          <p>Projects</p>
        </div>
      </div><!-- End Stats Item -->

      <div class="col-lg-4 col-md-6">
        <div class="stats-item text-center w-100 h-100">
          <span data-purecounter-start="0" data-purecounter-end="550" data-purecounter-duration="1"
            class="purecounter"></span>
          <p>Locations</p>
        </div>
      </div><!-- End Stats Item -->

    </div>

  </div>

</section><!-- /Stats Section -->
{{ end }}
