{{ define "main" }}
<!-- Service Details Section -->
<section id="service-details" class="service-details section-tight">
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-12" data-aos="fade-up" data-aos-delay="200">

        {{ range .Params.image }}
          <img src="{{ . | relURL }}" alt="{{ $.Title }}" class="img-fluid mb-3 float-start me-4" width="120">
        {{ end }}

        <div class="service-description">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section><!-- /Service Details Section -->


<!-- Features Section -->
<section id="features" class="features section-tight">
    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row  gy-4 d-print-none">
            <div class="col-lg-3">
                <ul class="nav nav-tabs flex-column">
                    <li class="nav-item">
                        <a class="nav-link active show" data-bs-toggle="tab" href="#features-tab-1">Features</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#features-tab-2">Technical Drawings</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#features-tab-3">Configurations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#features-tab-4">Applications</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-9 mt-4 mt-lg-0">
                <div class="tab-content">
                    <div class="tab-pane active show" id="features-tab-1">
                        <div class="row">
                            <div class="col-lg-12 details order-2 order-lg-1">
                                {{ .Params.features | markdownify }}
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane d-print-none" id="features-tab-2">
                        <div class="row">
                            <div class="col-lg-12 details order-2 order-lg-1">
                                {{ partial "product-drawings.html" (dict
                                "file" "data/drawings.csv"
                                 "filters" .Params.drawings
                                ) }}
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane d-print-none" id="features-tab-3">
                        <div class="row">
                            <div class="col-lg-12 details order-2 order-lg-1">
                                {{ partial "product-configurations.html" . }}
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/tabs/tab-3.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="features-tab-4">
                        <div class="row">
                            <div class="col-lg-12 details order-2 order-lg-1">
                                {{ .Params.applications | markdownify }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section><!-- /Features Section -->
{{ end }}