{{ define "main" }}
<section id="service-details" class="service-details section-tight ">
    <div class="container">
        <div class="row mt-3">

            <div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel"
                data-bs-interval="5000">
                {{ range $index, $img := .Params.gallery }}
                <div class="carousel-item text-center {{ if eq $index 0 }}active{{ end }}">
                    <img src="{{ . }}" alt="{{ $.Title }}"
                        class="img-fluid rounded shadow-sm"
                        loading="lazy"
                        style="width: auto; height: auto; max-height: 600px;">
                </div>
                {{ end }}

                <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
                </a>

                <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
                </a>

                <ol class="carousel-indicators"></ol>

            </div>
        </div>

        <div class="row gy-4 mt-3">
            <div class="col-lg-12" data-aos="fade-up" data-aos-delay="200">

                {{ range .Params.image }}
                <img src="{{ . | relURL }}" alt="{{ $.Title }}" class="img-fluid mb-3 float-start me-4" width="140">
                {{ end }}

                <div class="service-description">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Features Section -->
<section id="features" class="features section-tight">
    <div class="container">

        <div class="row gy-3">

            <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="service-item h-100">
                    <h4 class="title">Features</h4>
                    <p class="description">
                        {{ .Params.features | markdownify }}
                    </p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="service-item h-100">
                    <h4 class="title">Applications</h4>
                    <p class="description">
                        {{ .Params.applications | markdownify }}
                    </p>
                </div>
            </div><!-- End Service Item -->
            <div class="col-md-12" data-aos="fade-up" data-aos-delay="100">
                <div class="service-item h-100">
                    <h4 class="title">Configurations</h4>
                    <p class="description">
                        {{ partial "product-configurations.html" . }}
                    </p>
                </div>
            </div><!-- End Service Item -->


            <div class="col-md-12" data-aos="fade-up" data-aos-delay="100">
                <div class="service-item h-100">
                    <h4 class="title">Drawings</h4>
                    <p class="description">
                        {{ partial "product-drawings.html" (dict
                        "file" "data/drawings.csv"
                        "filters" .Params.drawings
                        ) }}
                    </p>
                </div>
            </div><!-- End Service Item -->
        </div>
    </div>
    <!-- 
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row  gy-4 d-print-none">
            <div class="col-lg-3">
                <ul class="nav nav-tabs flex-column">
                    <li class="nav-item">
                        <a class="nav-link active show" data-bs-toggle="tab" href="#features-tab">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#drawings-tab">Technical Drawings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#configurations-tab">Configurations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#applications-tab">Applications</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-9 mt-4 mt-lg-0">
                <div class="tab-content">
                    <div class="tab-pane active show" id="features-tab">
                        <div class="row">
                            <div class="col-lg-12 details order-2 order-lg-1">
                                {{ .Params.features | markdownify }}
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="drawing-tabs">
                        <div class="row">
                            <div class="col-lg-12 details order-2 order-lg-1">
                                {{ partial "product-drawings.html" (dict
                                "file" "data/drawings.csv"
                                "filters" .Params.drawings
                                ) }}
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="configurations-tab">
                        <div class="row">
                            <div class="col-lg-12 details order-2 order-lg-1">
                                {{ partial "product-configurations.html" . }}
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="applications-tab">
                        <div class="row">
                            <div class="col-lg-12 details order-2 order-lg-1">
                                {{ .Params.applications | markdownify }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> -->

</section><!-- /Features Section -->
{{ end }}